<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.xposed.lidswitchdisable"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xposed.lidswitchdisable.preference.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.xposed.lidswitchdisable.Launcher"
            android:enabled="true"
            android:label="@string/app_name"
            android:targetActivity="com.xposed.lidswitchdisable.preference.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="42+"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description"/>
    </application>

</manifest>
